mixin publicationRow(publication, className, msg)  
  tr(class=className)
    td.publication-id(title=msg)
      input.select-row(type='checkbox', name='extSourceID', value=publication.extSourceID)
    td= publication.title
    if publication.authors && publication.authors.length > 0
      td= publication.authors
    if publication.editors && publication.editors.length > 0
      td.editors(title='Research editors')= publication.editors
    //-td= publication.booktitle
    //-td= publication.pages
    //-td
      if engine === 'dblp'
        a(href= 'http://dblp.uni-trier.de//rec/xml/' + publication.extSourceID , target="_blank") (open xml)
      else if engine === 'pubmed'
        a(href= 'http://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&id=' + publication.extSourceID , target="_blank") (open xml)

    td
      if engine === 'dblp'
        a(href= 'http://dblp.uni-trier.de/rec/' + publication.extSourceID , target="_blank") details
      else if engine === 'pubmed'
        a(href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term=' + publication.extSourceID + '[uid]' , target="_blank") details