include copy-arrows

mixin editPublication(publication, position)  
  a(target='_blank', href='')
  form(name="edit-publication", action="/editPublication", method="post")
    // Title  
    div.row
      div.form-group.col-md-11.field-wrapper
        label Title
        input(type="text", class="form-control", name="title", placeholder="Publication title", value=publication && publication.title)
      +copyArrows(position)

    // Conference  
    div.row
      div.form-group.col-md-11.field-wrapper
        label Conference
        input(type="text", class="form-control", name="conference", placeholder="Publication conference", value=publication && publication.conference)
      +copyArrows(position)

    // Journal  
    div.row
      div.form-group.col-md-11.field-wrapper
        label Journal
        input(type="text", class="form-control", name="journal", placeholder="Publication journal", value=publication && publication.journal)
      +copyArrows(position)
    
    //-div.row
      div.form-group.col-md-11.field-wrapper
        label Authors
        select.form-control(name="authors")
          if publication
            each author, i in publication.authors
              option(value=i) #{author}  
    div
      label Authors
      each author, i in publication.authors      
        div.col-md-11.field-wrapper
          input(type="text", class="form-control", name="author" + i, placeholder="Author " + i, value=publication.authors[i]) 
        +copyArrows(position)
    

    input(type="submit" value="reset" class="btn btn-default btn-sm") 
    input(type="submit" value="import this" class="btn btn-success btn-sm") 
