extends layout

block content
  h1 Publications list for <i>#{authorName}</i>
  p #{engine} returned #{resultsNum} publication results.

  form(name="import", action="/import", method="post")
    input.btn-primary(type="submit", id='import-pubs', value="Import selected")
    table.table.table-striped.table-hover
      thead
        tr
          td
            input(type='checkbox', id='select-all', title='(de)select all')
          td Authors
          td Title
          td Book title
          td Pages
          td
      tbody
        for publication in returnPublications
          tr
            td
              input.select-row(type='checkbox', name='pubmedID', value=publication.pubmedID)
            if publication.authors && publication.authors.length > 0
              td= publication.authors
            if publication.editors && publication.editors.length > 0
              td.editors(title='Research editors')= publication.editors
            td= publication.title
            td= publication.booktitle
            td= publication.pages
            td
              if engine === 'dblp'
                a(href= 'http://dblp.uni-trier.de//rec/xml/' + publication.dblpkey , target="_blank") (open xml)
              else if engine === 'pubmed'
                a(href= 'http://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&id=' + publication.pubmedID , target="_blank") (open xml)
            td
              if engine === 'dblp'
                a(href= 'http://dblp.uni-trier.de/rec/' + publication.dblpkey , target="_blank") details
              else if engine === 'pubmed'
                a(href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term=' + publication.pubmedID + '[uid]' , target="_blank") details
    br
    br
    input.btn-primary(type="submit", id='import-pubs', value="Import selected")